/* Webfont: BourtonBase */

@font-face {
    font-family: 'BourtonBase';
    src: url('assets/font/BourtonBase.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/BourtonBase.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/font/BourtonBase.woff') format('woff'), /* Modern Browsers */
    url('assets/font/BourtonBase.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/font/BourtonBase.svg#BourtonBase') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* CSS reset */

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Styles */

body {
    font-family: BourtonBase, Avenir, sans-serif;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 2%;
}

body .container {
    padding: 2%;
}

@media screen and (min-width: 600px) {
    body .container {
        max-width: 800px;
        border: 3px solid black;
    }
}

a.active {
    font-weight: 900;
}

h1 {
    color: black;
    font-size: 1.5em;
    margin-bottom: 1em;
}

h1 a {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

p {
    font-size: 1.25rem;
    margin: 1em 0;
    color: #f7f7f7;
}

textarea {
    padding: 1em;
    width: 80%;
    max-width: 600px;
    font-size: 16px;
}

button {
    display: block;
    margin: 1em 0;
    padding: .5em 1em;
}

.wrap-top {
    text-align: center;
}

.step2 {
    display: none;
    opacity: 0;
}

.point-down {
    margin-right: -64px;
    float: left;
}

#worry-card {
    margin: 0 auto 3em;
    transition: all 0.5s ease;
    color: #41403E;
    letter-spacing: 1px;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 355px 15px 325px 15px/15px 325px 15px 355px;
    width: 190px;
    height: 99px;
    padding: 5px 8px;
    border: solid 4px #41403E;
    background: white;
    word-break: break-all;
    text-align: left;
    position: relative;
    left: 20px;
    overflow: hidden;
}

@media screen and (max-width: 376px) {
    #worry-card {
        width: 130px;
        height: 70px;
        left: 15px;
    }
}

#worry-card clr-icon {
    left: -10px;
    position: relative;
}

.worry-card-user-text {
    background-color: #ffffff;
    margin: 8px auto 0;
    word-break: break-word;
}

.shredder-top {
    height: 215px;
}

.shredder-bottom {
    position: relative;
    top: -5px;
    z-index: 1100;
}

.slot {
    position: relative;
    top: -10px;
    height: 10px;
}

.snow {
    width: 7px;
    height: 7px;
    position: absolute;
    border: 1px solid #41403E;
    border-bottom: 2px solid #41403E;
    border-left: 2px solid #41403E;
}

.shredder-top img, .shredder-bottom img {
    position: relative;
}

@media screen and (max-width: 375px) {
    .shredder-top img, .shredder-bottom img {
        max-width: 310px;
        left: 0;
    }
    .shredder-bottom {
        top: -54px;
    }
}

.shredder-bottom img {
    z-index: 900;
}

img.crank {
    position: absolute;
    top: 25px;
    left: 45%;
}

@media screen and (max-width: 600px) {
    img.crank {
        left: 42%;
    }
}

@media screen and (max-width: 375px) {
    img.crank {
        left: 45%;
        height: 55px;
    }
}

.window {
    perspective: 500px;
    overflow: hidden;
    width: 220px;
    height: 165px;
    position: absolute;
    top: 130px;
    z-index: 800;
}

@media screen and (max-width: 375px) {
    .window {
        top: 100px;
        width: 190px;
        height: 125px;
    }
}

@media screen and (max-width: 599px) {
    .window {
        left: 25%;
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .window {
        left: 32%;
    }
}

@media screen and (min-width: 800px) {
    .window {
        left: 28%;
    }
}

.closing-message {
    margin: 0;
    opacity: 0;
    position: relative;
    z-index: 1200;
}

@media screen and (min-width: 400px) {
    .closing-message {
        margin-top: 2em;
    }
}

.closing-message a, .closing-message a:hover, .closing-message a:visited {
    font-size: 1.25em;
    color: black;
    padding-bottom: .75em;
    display: block;
}

footer {
    margin-top: 3em;
}

footer img {
    margin-right: 1em
}