@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
@import url("https://fonts.googleapis.com/css?family=Caveat:400");
/* CSS reset */

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Styles */

body {
    font-family: Lato, sans-serif;
    height: 100vh;
    background-color: #0aa98c;
    overflow: hidden;
}

body .container {
    margin: 5%;
}

a.active {
    font-weight: 900;
}

header {
    padding: 1em;
    background-color: #2c5e7d;
    color: #FFF;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

p {
    font-size: 1.25rem;
    margin: 1em 0;
}

textarea {
    padding: 1em;
    width: 80%;
    font-size: 1.25rem;
}

button {
    display: block;
    margin: 1em 0;
    padding: .5em 1em;
}

.step2, .step3 {
    display: none;
}

.worry-card, #worry-card, .scraps {
    width: 60vw;
    max-width: 30rem;
}

.worry-card, #worry-card {
    margin: 0 auto;
    min-height: 9rem;
    padding-bottom: 1em;
    border: 1px solid #a5a5a5;
    background-color: #ffffff;
}

.worry-card-user-text {
    white-space: pre-wrap;
    font-size: 1.75rem;
    width: 95%;
    margin: 0 auto;
    font-family: Caveat;
}

.badge {
    color: #FFF;
    background-color: #ffb200;
    font-size: 1rem;
    padding: .2em .4em .3em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

.link-bar {
    margin-bottom: 3em;
}

.link-bar a {
    display: inline-block;
    color: #2c5e7d;
}

.wrap {
    overflow: hidden;
    padding-top: 2em;
    max-height: 30em;
}

.shredder {
    height: 4em;
    width: 90vw;
    max-width: 45rem;
    background-color: darkslateblue;
    border-radius: .5rem;
    margin: 3em auto 0;
    z-index: 999;
    position: relative;
}

.power {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    position: relative;
    background-color: goldenrod;
    top: 35%;
    left: 3%;
    display: inline-block;
}

.power.off {
    background-color: red;
}

.power.on {
    background-color: green;
}

/*.slot {
    width: 60vw;
    max-width: 32rem;
    margin: 0 auto;
    height: .65em;
    background-color: lightslategrey;
    position: relative;
    top: 8%;
}*/

.snow {
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: white;
    background-size: 100% 100%;
}