/* Webfont: BourtonBase */

@font-face {
    font-family: 'BourtonBase';
    src: url('assets/font/BourtonBase.eot');
    /* IE9 Compat Modes */
    src: url('assets/font/BourtonBase.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/font/BourtonBase.woff') format('woff'), /* Modern Browsers */
    url('assets/font/BourtonBase.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/font/BourtonBase.svg#BourtonBase') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* CSS reset */

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Styles */

body {
    font-family: BourtonBase, Avenir, sans-serif;
    height: 100vh;
    background-color: #FFFFFF;
}

body .container {
    padding: 2% 4%;
}

a.active {
    font-weight: 900;
}

h1 {
    color: black;
    font-size: 2.25rem;
    margin-bottom: 1em;
}

h1 a {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

p {
    font-size: 1.25rem;
    margin: 1em 0;
    color: #f7f7f7;
}

textarea {
    padding: 1em;
    width: 80%;
    font-size: 1.25rem;
}

button {
    display: block;
    margin: 1em 0;
    padding: .5em 1em;
}

.step2, .step3 {
    display: none;
}

#worry-card {
    margin: 0 auto 3em;
    width: 200px;
    box-shadow: 0 2px 0 rgba(9, 30, 66, .25);
    border-radius: 3px;
    border: 1px solid black;
    position: relative;
    z-index: 1001;
    background: white;
}

.worry-card-user-text {
    background-color: #ffffff;
    white-space: pre-wrap;
    font-size: 1rem;
    margin: 0 auto;
    padding: .5em .5em 1em;
}

.shredder-top, .shredder-bottom, .slot {
    border: 1px solid black;
}

.shredder-top, .shredder-bottom {
    height: 50px;
    width: 300px;
    margin: 0 auto;
    background: white;
    position: relative;
}

.shredder-top {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    z-index: 1;
}

.shredder-bottom {
    border-radius: 0 0 10px 10px;
    height: 200px;
    z-index: 1100;
    border-top: none;
}

.slot {
    position: relative;
    top: 38px;
    width: 70%;
    height: 10px;
    margin: 0 auto;
    border-bottom: none;
}

.slot-bottom {
    border-top: 1px solid black;
    width: 70.5%;
    position: relative;
    top: -1px;
    margin: 0 auto;
}

.snow {
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 800;
    background-color: #f7f7f7;
    border: .5px solid black;
    background-size: 100% 100%;
}

.window {
    perspective: 500px;
    height: 120px;
    width: 60px;
    border: 1px solid #333;
    margin: 20px auto 0;
    overflow: hidden;
}

.closing-message {
    text-align: center;
    margin: 1.5em auto;
    width: 300px;
    opacity: 0;
}

.closing-message a, .closing-message a:hover, .closing-message a:visited {
    font-size: 1.25em;
    color: black;
    padding-bottom: .75em;
    display: block;
}

footer {
    margin-top: 3em;
}